body {
    /* font: (size, height, fonts) */
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4; /* Light greys*/
}

/* Global */
.container {
    width:80%;
    margin: auto;
    overflow: hidden;
}

ul {
    padding:0;
    margin:0;
}

/* Header */
header {
    background:#26292d;
    content: #ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom: #E8491D 3px solid;
}

header a { /* links css */
    color:#ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}

header li {
    float:left;
    display:inline;
    padding:0 20px 0 20px; /* top right bottom left */
}

header #branding{
    float:left;
}

header nav{
    float:right;
    margin-top:10px;
}

header .current a{
    color: #cccccc;
}

header a:hover{
    color:#cccccc;
}

/* Showcase */

/* Footer */