#contact-form form {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 50px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin-bottom: 100px;
  margin-top: 50px;
}

.box input, .box textarea {
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}

.box {
  position: relative;
}

.box label {
  position: absolute;
  top: 10px;
  pointer-events: none;
  left: 0;
  color: #999;
  transition: .5s;
}

.box input:focus ~ label, .box input:valid ~ label, .box textarea:focus ~ label, .box textarea:valid ~ label {
  top: -15px;
  left: 0;
  color: #3b59f9;
  font-weight: bold;
}

.box input:focus, .box input:valid, .box textarea:focus, .box textarea:valid {
  border-bottom: 2px solid #3b59f9;
}

textarea {
  outline: 0px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  overflow: visible;
}

#submitBtn {
  width: 100%;
}

#submitBtn:hover {
  color: white;
  background-color: black;
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: transparent;
}

#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: transparent;
}

#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: transparent;
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: transparent;
}

#contact_explain {
  display: none;
}

@media (min-width: 576px) {
  #contact_explain {
    display: block;
    font-size: 13px;
    padding: 0 30px;
  }
}

