.page-footer {
  background-color: #f3f3f2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-footer h4 {
  color: #333333;
  font-size: 11px;
  font-weight: bold;
}

.page-footer p {
  color: #888;
  font-size: 11px;
}

.page-footer .footer-links {
  list-style: none;
  padding: 0;
  margin-bottom: 45px;
  word-break: break-all;
}

.page-footer .footer-links a {
  color: #555;
  font-size: 11px;
}

.page-footer .footer-links li {
  margin-bottom: 5px;
  line-height: 1.3;
}

.page-footer .footer-legal .legal-links .item {
  padding-right: 13px;
  border-right: 1px solid #ccc;
  margin: 0;
  margin-right: 13px;
}

.page-footer .footer-legal .legal-links .item:last-child {
  border-right: none;
}

.page-footer .footer-legal .legal-links .item a {
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}

.page-footer .region {
  margin-bottom: 20px;
}

.page-footer .region a {
  color: #555;
  font-size: 11px;
}

.page-footer .region img {
  margin-right: 7px;
}

@media (min-width: 768px) {
  .page-footer .region {
    margin-bottom: 0;
  }
}

#in_progress {
  background-color: #e06868;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fas.fa-tools {
  font-size: 50px;
  padding: 30px;
  border-radius: 80px;
  background-color: white;
  color: #e06868;
  margin-bottom: 30px;
}

#in_progress div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#in_progress div h1, #in_progress div h5 {
  font-weight: 200;
  color: white;
  padding-top: 10px;
  text-align: center;
}

#social_icons i {
  font-size: 20px;
  margin-right: 10px;
}

.col.footer-nav a {
  color: #212529;
  text-decoration: none;
}

.col.footer-nav {
  color: #212529;
  margin-bottom: 30px;
}

.footer-legal .legal-links a {
  color: #212529;
  text-decoration: none;
}

.navbar.navbar-light.navbar-expand-md {
  background-color: #f3f3f3;
  padding: 20px;
}

.pump-types li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pump-types li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pump-types li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav.navbar-nav.pump-types li a h6 {
  color: rgba(0,0,0,0.5);
  font-size: .8rem;
}

.pump-types li a {
  align-items: center;
}

.nav.navbar-nav.pump-types {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item .nav-link span {
  font-size: x-small;
  position: relative;
  top: 4px;
}

.fa.fa-registered {
  position: relative;
  bottom: 5px;
  font-size: .5rem;
}

.small-img img {
  height: 100px;
}

.product.small-img {
  background-color: #f9f9f9;
}

