* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { 
	background-color: #f7f7f7;
}
.title {
	text-align:left;
	margin: 35px 100px 0px 100px;
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	text-align: center;
}
.title h1 {
	font-size: 5vw;
	font-weight:100;
}
.title p {
	margin-bottom: 30px;
	font-size: .5em;
}
.home, .download {
	cursor: pointer;
}
.icons {
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	justify-content: center;
	text-decoration: none;
	margin-bottom: 20px;
	padding: 0 20px;
	font-size: 22px;
}
.icons a, .icons i {
	text-decoration: none;
	color: black;
	opacity: 0.3;
	margin: 0 20px;
}
.icons a:hover {
	opacity: 1;
}
hr {
	margin: 0 auto;
	width: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.row { 
	margin: 30px 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.row img {
	margin: 4px;
	vertical-align: middle;
	width: 23%;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.row img:hover {
	opacity: 0.7;
}

/*Background*/
.modal {
	display:none;
	position:fixed;
	z-index:1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}
.modal-content {
	margin: auto;
	display: block;
	max-width: 80%;
	height: 80vh;
	animation-name: zoom;
	animation-duration: 0.6s;
}
@keyframes zoom {
	from { transform: scale(0) }
	to { transform: scale(1) }
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
	background-color: none;
}
.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
#leftArrow {
	position: absolute;
	top: 50vh;
	left: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
#leftArrow:hover, #leftArrow:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
#rightArrow {
	position: absolute;
	top: 50vh;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
#rightArrow:hover, #rightArrow:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}
@media only screen and (max-width: 700px) {
	.modal-content: 100%;
}
@media screen and (max-width: 800px) {
	.row {
		flex-wrap: wrap;
	}
	.row img {
		flex: 30%;
		max-width: 30%;
	}
}

@media screen and (max-width: 600px) {
	.row {
		flex-wrap: wrap;

	}
	.row img {
		flex: 100%;
		max-width: 100%;
	}
	hr {
		width: 80%;
	}
}