/* Header Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,nav {
	list-style: none;
}

nav li a {
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
	transition: all .3s ease;
}

nav li a:hover {
	opacity: 1;
	/*color: red;*/
}
/*Header Styles*/

header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
	z-index: 1;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header img {
	height: 50px;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
}

@media screen and (max-width: 650px) {
	header nav {
		display: none;
	}
	header {
		display: flex;
		flex-basis: 100%;
		justify-content: center;
	}
}