.pump-types a img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 15px;
  position: relative;
}

.pump-types a:hover h6 {
  color: black;
  transition: 100ms color ease-in;
}

.pump-types h6 {
  color: rgb(169,165,165);
}

.pump-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0;
  background-color: #f3f3f2;
}

.pump-types a {
  color: #030303;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.product h1 {
  padding-top: 10px;
}

.row.no-gutters.intro .col {
  padding: 20px;
}

@media (min-width: 768px) {
  .row.no-gutters.intro .col {
    padding: 50px;
  }
}

.intro i {
  padding: 0 0 30px 0;
  color: #007bff;
  font-size: 30px;
}

.description {
  display: none;
}

@media (min-width: 768px) {
  .description {
    display: block;
    padding: 10px;
  }
}

.col.pump-types {
  display: none;
}

@media (min-width: 992px) {
  .col.pump-types {
    display: flex;
  }
}

.pump-section {
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  #pump-outline-icon {
    margin-bottom: 20px;
  }
}

.hide-sm {
  display: none;
}

@media (min-width: 576px) {
  .hide-sm {
    display: block;
    justify-content: center;
    /*align-content: center;*/
    align-items: center;
  }
}

